@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #6628d7;
  --secondary-color: #0f8ae2;
  --light: #f9f8fa;
  --dark: #041120;
  --light-dark: #4c4f57;
  --success: #1aae69;
  --danger: #e9312b;
}

html {
  scroll-behavior: smooth;
}

/* Layout container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

/* Typography */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.txt-primary {
  color: var(--primary-color);
}

/* Animations */
.mouse-animation {
  width: 30px;
  height: 50px;
  border: 1px solid var(--light);
  border-radius: 15px;
  position: relative;
  opacity: 0.8;
}

.mouse-animation::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: var(--light);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  animation: slideIn 1s ease infinite;
}

@keyframes slideIn {
  0% {
    top: 10px;
    opacity: 0;
  }

  100% {
    top: 28px;
    opacity: 1;
  }
}

/* Header */
.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--light);
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.navbar__logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar__logo .navbar__logo-text {
  text-transform: uppercase;
}

.navbar__logo .navbar__logo-text h3 {
  color: var(--dark);
}

.navbar__logo .navbar__logo-text p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--light-dark);
  margin-top: 2px;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar__list li {
  font-weight: 600;
  color: var(--dark);
}

/* Home */
#home {
  height: 100vh;
  background: url("./assets/home-bg.jpg") no-repeat;
  background-size: cover;
}

#home .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .home_title {
  font-size: 3.4rem;
  color: var(--light);
  text-transform: uppercase;
  line-height: 1.5;
}

#home p {
  font-size: 1.3rem;
  color: var(--light);
  line-height: 1.6;
  margin: 1.5rem 0;
  max-width: 45rem;
}

#home button {
  margin-top: 1rem;
  height: 3.5rem;
  background-color: var(--light);
  color: var(--primary-color);
  border: 0;
  border-radius: 0.3rem;
  font-weight: 600;
  transition: 0.3s;
}

#home button a {
  padding: 1rem 3rem;
  font-size: 1rem;
}

#home button:hover {
  transform: translateY(-5px);
}

#home .mouse-animation {
  top: 100px;
}
