@font-face {
  font-family: 'MyFont';
  src: url('/font/PPMori-Extralight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'MyFont';
  src: url('/font/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'MyFont';
  src: url('/font/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'MyFont', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #f5f5f5;
}
